body{
  margin: 0;
 }
 
 .header{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: lightgrey;
 }
 
 h1{
   margin: 0;
 }

.perguntas{
  text-align: center;
}

.resposta{
  font-weight: bold;
  margin-bottom: 30px;
}

table, th, td{
  padding: 0;
  border: solid 2px black;
  border-collapse: collapse;
}

table{
  margin-right: auto;
  margin-left: auto;
}

.footer{
  text-align: center;
  font-weight: bold;
  background-color: lightgrey;
  padding: 8px;
  
}

